:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-box{
display: flex;
flex-direction: column;
height: 100dvh;
width: 100vw;
overflow-x: hidden;
}
.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}